<nav class="navbar navbar-inverse testnav" style="margin-top:16px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0);">WebSiteName</a>
    </div>
    <div>
      <ul class="nav navbar-nav" style="visibility: visible;">
        <li><a routerLink="variable">Variable</a></li>
        <li><a routerLink="directives">Directives</a></li>
        <li><a routerLink="data-binding">Data-Binding</a></li>
        <li><a routerLink="template-form">Template Form</a></li>
        <li><a routerLink="api-call">API Call</a></li>
         <li><a routerLink="user">User</a></li>
         <li><a routerLink="resource-api">Resource API</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>

